@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: white;
  --BORDER-COLOR: #fff;
  --COLOR: black;
  --ERROR: firebrick;
  --LINK-COLOR: blue;
  --LINK-HOVER: rgba(0, 0, 0, 0.9);
  --TABLE-BGCOLOR: #fff;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #f00;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

/* My css */
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
  color: #000;
}

/* || GENERAL STYLES */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  /* background-image: url("./img/background.jpg"); */
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
  font-size: 1.5rem;
}

input,
textarea,
button,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

section {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line if there's not enough space */
  gap: 16px; /* Space between items */
  /* padding: 20px; Padding around the container */
  box-sizing: border-box; /* Includes padding in the element's total width and height */
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.welcome p {
  font-size: 1.25rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ ";
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: purple;
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
  color: whitesmoke;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container--small {
  /* max-width: 800px; */
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

/* || FORM - GENERAL */

.form {
  box-shadow: 0 2px 5px purple; /* Subtle shadow */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */

  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 400px;
  font-size: 1.25rem;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
  max-width: 250px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  right: 0.5em;
  position: static;
  font-size: 2rem;
  border: none;
}

article {
  margin: 0.5em;
  max-width: 350px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1em;
}
.wallet-container {
}

.wallet-container p {
  margin-bottom: 10px;
}

.button {
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

.deleteButton,
.withdrawal-button {
  background-color: palevioletred;
  color: white;
}

.deposit-button {
  background-color: limegreen;
  color: white;
}

@media screen and (max-width: 525px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  .welcome p {
    font-size: 1rem;
    gap: 0.5rem;
  }
  article {
    max-width: 250px;
    margin: 0.3em;
    padding: 0.5em;
    font-size: 0.9rem;
  }
  .form {
    font-size: 1rem;
  }

  .dash-header__nav {
    gap: 0;
  }
}
